*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#video{
    position: fixed;
    object-fit: cover;
    z-index: -1;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    filter: brightness(0.2);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    width: 100vw;
    height: 100vh;
}

hr{
    width: 100%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 50vw;
    height: 30vw;

    min-width:700px;
    min-height: 500px;
    padding: 10px;

    border: solid 2px #ffffff;
    border-radius: 20px;

    background-color: #6161616e;
    backdrop-filter: blur(10px);

    animation: iniciar 2s ease-in-out;
}

@keyframes iniciar{
    0%{
        opacity: 0;
        scale: 0.5;        
    }
    50%{
        scale: 1.2;
    }
    100%{
        opacity: 1;
    }
}

#informacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    padding: 30px 30px 0 30px;
    
    border-radius: 10px 0px 0px 10px;
}

#informacao h2{
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    
    color: #ffffff;
    text-align: center;
    
    margin-top: 30px;
    margin-bottom: 10px; 
}

#informacao h3{
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    
    width: 100%;
    margin-top: 58px;
    margin-bottom: 15px;
    
    color: #ffffff;
    text-align: start; 
}

#informacao article{
    font-family: Inter;
    font-weight: 200;
    font-size: 14px;
    
    width: 100%;
    
    color: #ffffff;
    text-align: start;
}

#informacao #QrCode{
    display: flex;
    justify-content: center;
    align-items: start;
    
    width: 100%;
}

footer img{
    width: 70px;
    border-radius: 5px;
}

#informacao footer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 60px;

    width: 100%;
    height: 100%;

    font-size: 11px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    
    color: #ffffff;
    text-align: center; 

    /* border: solid 1px #ffffff; */
}

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    padding: 30px;
    
    background-color: #181818;
    border-radius: 0px 10px 10px 0px;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

#login h2{
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    
    color: #ffffff;
    text-align: center;    
}

#login label{
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    
    width: 100%;
    margin-top: 50px;
    
    color: #ffffff;
    text-align: start;   
}

#login input{
    background: none;
    border: none;
    border-bottom: solid 1px #ffffff;
    outline: none;

    width: 100%;
    height: 30px;
    padding: 10px;

    color: #949494;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 200;

    transition: all 0.3s ease-in-out;
}

#login input:focus{
    border-bottom: none;
    border-radius: 10px;
    box-shadow: 0 0 15px #d2ff79, 0 0 5px #3ca52e;

    color: #ffffff;

    transform: scale(1.05);
    margin-top: 12px;
}

::placeholder{
    color: rgb(255, 0, 0);
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

form #botao{
    display: flex;
    justify-content: center;
    
    width: 100%;    
}

form button{
    width: 100px;
    height: 27px;
    margin-top: 70px;
    
    background: none;
    border: solid 1px white;
    border-radius: 5px;

    color: #ffffff;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;

    transition: all 0.3s ease-in-out;
}

form button:hover{
    cursor: pointer;
    background: radial-gradient(circle, #7EA52E, #004117);
    transform: scale(1.05);

    text-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;
}

p{
    width: 100%;
    margin-top: 50px;
    
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

#back{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.308);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    
    display: none;
}
.alert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 250px;
    margin-top: 10px;
    padding: 30px;

    background-color: #181818;
    border-radius: 5px;
    box-shadow: 0 0 15px #FFFFFF87, 0 0 10px #ffffffbe, 0 0 5px #ffffff;

    animation: iniciar 1.3s ease-in-out, move_alert 2s ease-in-out infinite;
}

.alert h2{
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    
    color: #ffffff;
    text-align: center;
    margin-bottom: 5px;
}

.alert p{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.alert div{
    display: flex;
    align-items: start;
    
    width: 100%;
    margin-top: 50px;
    padding-left: 5px;

    border-left: solid 2px #ffffff;
}

.alert article{
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    
    color: #7EA52E;
    text-align: start;
}

.alert #close{
    position: absolute;
    left: 365px;
    top: -30px;
    
    width: 20px;
    height: 20px;
    
    display: flex;
    border:  none;
}

.alert #close img{
    width: 15px;
    cursor: pointer;

    transition: all 0.4s ease-in-out;
}

.alert #close:hover img{
    transform: scale(1.2) rotate(180deg);
    filter: drop-shadow( 0 0 2px #00ff00);
}

@keyframes move_alert{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes iniciar{
    0%{
        opacity: 0;
        scale: 0.5;        
    }
    50%{
        scale: 1.2;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 768px) {
   
    main {
        flex-direction: column;
        width: 90vw;
        height: auto;
        min-width: unset;
        min-height: unset;
        padding: 20px;
        gap: 20px;
    }

    #informacao, #login {
        border-radius: 20px;
        padding: 20px;
        height: auto;
    }

    #informacao h2 {
        font-size: 28px;
        margin-top: 10px;
    }

    #informacao h3, #informacao article {
        font-size: 13px;
    }

    #informacao footer {
        gap: 20px;
    }

    #login h2 {
        font-size: 20px;
    }

    #login label {
        font-size: 12px;
        margin-top: 30px;
    }

    #login input {
        font-size: 14px;
        height: 25px;
    }

    form button {
        width: 70%;
        margin-top: 40px;
    }

    .alert {
        width: 90vw;
        height: auto;
        padding: 20px;
    }

    .alert h2 {
        font-size: 20px;
    }

    .alert p {
        font-size: 13px;
    }

    .alert div {
        margin-top: 30px;
    }

    .alert article {
        font-size: 12px;
    }

    .alert #close {
        left: auto;
        top: -3vh;
        right: 4vw;
    }

    #informacao footer{
        display: none;
    }

}
